h6 {
  font-weight: 600;
}

.b-footer-font {
  font-size: 0.9em;
  line-height: 1.8em;
}

.b-footer-aboutBlog {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.b-foot-shadow {
  box-shadow: 0 -2px 5px 1px rgba(100, 100, 100, 0.7);
}

.b-hover {
  cursor: pointer;
}
