.b-type-header-font {
  font-size: 0.9em;
}

.b-card-content-three-line {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.b-type-content {
  min-height: 600px;
}
